# UniVESP - Análise de dados do ENEM

In [1]:
import pandas as pd
import io

In [8]:
df = pd.read_csv('microdados/enem2021/DADOS/MICRODADOS_ENEM_2021.csv', encoding = "ISO-8859-1", sep=';')
print(df.shape)

In [6]:
df_enem = pd.read_csv('microdados/enem2021/DADOS/MICRODADOS_ENEM_2021.csv', encoding = "ISO-8859-1", sep=';', nrows=100000, chunksize=100000)

In [7]:
for df_enem_mini in df_enem:
    display(df_enem_mini)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,210054236547,2021,3,F,1,1,1,2,0,2,...,B,A,A,B,A,B,D,A,D,B
99996,210052951407,2021,1,F,1,3,1,3,0,1,...,A,A,A,B,A,B,D,A,C,B
99997,210053925585,2021,3,F,1,1,1,1,1,1,...,A,A,A,B,A,A,D,A,A,B
99998,210052782571,2021,2,M,1,1,1,2,0,2,...,B,A,A,B,A,A,C,A,B,B
99999,210051505791,2021,7,F,0,0,1,1,4,1,...,A,A,A,B,A,A,C,A,B,B