# Projeto Integrador IV - UniVESP

## Análise de dados do ENEM

O objetivo deste trabalho é analisar os microdados do Enem aplicado em XXXX  e fornecer as percepções sobre a evolução do desempenho de participantes do ENEM para os municípios de Barueri e Santana de Parnaíba de forma a subsidiar políticas públicas de orientação da gestão escolar apontando municípios com resultados de destaque positivo.

# Primeira etapa: Análise exploratória dos dados

* Importação de bibliotecas
* Carregamento dos microdados completos do ENEM

### Importação de bibliotecas

In [1]:
import numpy as np
import pandas as pd

In [2]:
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

In [3]:
ano = 2022

### Carregamento dos microdados completos do ENEM

In [4]:
uDados = pd.read_csv("./dados/uDados_{}.csv".format(ano), sep=';', encoding='ISO-8859-1')

In [ ]:
# uDados.dtypes

In [ ]:
# uDados.columns.values

In [ ]:
# uDados = uDados.drop(labels='Unnamed: 0', axis=1)

In [ ]:
# uDados.columns.values

In [5]:
uDados

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,TP_LOCALIZACAO_ESC,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,210057943671,2022,14,M,2,2,1,1,2,1,...,NaN,5300108,Brasília,53,DF,NaN,NaN,NaN,NaN,NaN
1,210057516120,2022,14,M,2,1,1,1,16,1,...,NaN,5300108,Brasília,53,DF,NaN,NaN,NaN,NaN,NaN
2,210057280536,2022,5,F,1,2,1,1,2,1,...,NaN,2925758,Presidente Tancredo Neves,29,BA,421.10,546.00,498.80,565.30,760.00
3,210055724397,2022,6,M,1,3,1,1,2,1,...,NaN,3201308,Cariacica,32,ES,490.70,388.60,357.80,416.00,320.00
4,210055097896,2022,4,M,0,3,1,1,1,1,...,NaN,1506203,Salinópolis,15,PA,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3476100,210056389903,2022,3,M,1,1,1,2,0,2,...,NaN,3524709,Jaguariúna,35,SP,NaN,NaN,NaN,NaN,NaN
3476101,210057205644,2022,14,F,2,1,1,2,0,2,...,1.00,2604106,Caruaru,26,PE,NaN,NaN,NaN,NaN,NaN
3476102,210056699189,2022,2,M,1,1,1,2,0,2,...,1.00,4209300,Lages,42,SC,527.90,627.00,583.30,637.10,660.00
3476103,210056983033,2022,3,M,1,3,1,2,0,3,...,1.00,3517406,Guaíra,35,SP,NaN,NaN,NaN,NaN,NaN
3476104,210056307777,2022,2,F,2,3,1,2,0,2,...,1.00,5208707,Goiânia,52,GO,NaN,NaN,NaN,NaN,NaN

In [6]:
df = pd.DataFrame()

In [7]:
dfaux = uDados[['NU_INSCRICAO','SG_UF_PROVA','NO_MUNICIPIO_PROVA']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).count().reset_index()
dfaux

     SG_UF_PROVA       NO_MUNICIPIO_PROVA  NU_INSCRICAO
0             AC               Acrelândia           314
1             AC                Brasiléia           407
2             AC          Cruzeiro do Sul          3426
3             AC           Epitaciolândia           249
4             AC                    Feijó           422
...          ...                      ...           ...
1742          TO  Sítio Novo do Tocantins           344
1743          TO               Taguatinga           321
1744          TO           Tocantinópolis           804
1745          TO             Wanderlândia           239
1746          TO                  Xambioá           188

[1747 rows x 3 columns]

In [8]:
df[['uf','cidade','qtd']] = dfaux[['SG_UF_PROVA','NO_MUNICIPIO_PROVA', 'NU_INSCRICAO']]
df

      uf                   cidade   qtd
0     AC               Acrelândia   314
1     AC                Brasiléia   407
2     AC          Cruzeiro do Sul  3426
3     AC           Epitaciolândia   249
4     AC                    Feijó   422
...   ..                      ...   ...
1742  TO  Sítio Novo do Tocantins   344
1743  TO               Taguatinga   321
1744  TO           Tocantinópolis   804
1745  TO             Wanderlândia   239
1746  TO                  Xambioá   188

[1747 rows x 3 columns]

In [9]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).mean().reset_index()
df[['ch_mean', 'lc_mean', 'mt_mean','cn_mean','pt_mean']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17
...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61

In [10]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).std().reset_index()
df[['ch_std', 'lc_std', 'mt_std','cn_std','pt_std']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,mt_std,cn_std,pt_std
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,88.11,50.19,204.07
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,87.24,56.19,212.68
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,88.15,56.78,197.67
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,91.49,54.99,212.85
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,87.00,53.51,210.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,96.26,58.89,205.01
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,83.73,51.19,209.28
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,90.06,56.62,223.17
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,91.98,65.64,179.45
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,89.41,54.46,193.27

In [11]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).min().reset_index()
df[['ch_min', 'lc_min', 'mt_min','cn_min','pt_min']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,mt_std,cn_std,pt_std,ch_min,lc_min,mt_min,cn_min,pt_min
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,88.11,50.19,204.07,321.50,321.00,347.80,373.40,0.00
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,87.24,56.19,212.68,326.40,298.80,356.90,370.80,0.00
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,88.15,56.78,197.67,0.00,0.00,337.40,363.20,0.00
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,91.49,54.99,212.85,0.00,298.80,343.10,388.10,0.00
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,87.00,53.51,210.66,315.60,302.80,340.50,364.90,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,96.26,58.89,205.01,320.70,309.50,347.20,360.70,0.00
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,83.73,51.19,209.28,312.40,295.50,337.00,371.50,0.00
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,90.06,56.62,223.17,0.00,0.00,336.80,364.00,0.00
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,91.98,65.64,179.45,308.40,277.00,0.00,0.00,0.00
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,89.41,54.46,193.27,330.90,307.90,344.30,376.30,0.00

In [12]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).max().reset_index()
df[['ch_max', 'lc_max', 'mt_max','cn_max','pt_max']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,...,ch_min,lc_min,mt_min,cn_min,pt_min,ch_max,lc_max,mt_max,cn_max,pt_max
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,...,321.50,321.00,347.80,373.40,0.00,650.40,645.90,762.10,620.00,940.00
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,...,326.40,298.80,356.90,370.80,0.00,723.60,651.00,729.50,619.60,960.00
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,...,0.00,0.00,337.40,363.20,0.00,699.40,680.60,781.60,666.40,960.00
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,...,0.00,298.80,343.10,388.10,0.00,685.20,691.70,788.70,652.30,920.00
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,...,315.60,302.80,340.50,364.90,0.00,698.90,682.30,854.30,728.60,960.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,...,320.70,309.50,347.20,360.70,0.00,730.70,666.30,831.90,652.00,960.00
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,...,312.40,295.50,337.00,371.50,0.00,703.40,642.60,719.20,622.90,920.00
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,...,0.00,0.00,336.80,364.00,0.00,685.00,668.30,793.20,693.80,980.00
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,...,308.40,277.00,0.00,0.00,0.00,670.80,647.10,756.70,656.30,920.00
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,...,330.90,307.90,344.30,376.30,0.00,684.40,628.40,740.40,680.50,940.00

In [13]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).median().reset_index()
df[['ch_median', 'lc_median', 'mt_median','cn_median','pt_median']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,...,ch_max,lc_max,mt_max,cn_max,pt_max,ch_median,lc_median,mt_median,cn_median,pt_median
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,...,650.40,645.90,762.10,620.00,940.00,492.20,482.35,481.00,450.00,560.00
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,...,723.60,651.00,729.50,619.60,960.00,501.00,504.40,498.70,463.90,580.00
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,...,699.40,680.60,781.60,666.40,960.00,496.15,487.25,477.60,457.80,580.00
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,...,685.20,691.70,788.70,652.30,920.00,512.90,496.40,493.10,472.50,560.00
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,...,698.90,682.30,854.30,728.60,960.00,493.50,480.10,479.60,454.80,560.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,...,730.70,666.30,831.90,652.00,960.00,489.90,474.70,459.60,460.50,590.00
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,...,703.40,642.60,719.20,622.90,920.00,479.20,459.90,463.90,444.70,560.00
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,...,685.00,668.30,793.20,693.80,980.00,484.20,467.40,472.70,458.40,580.00
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,...,670.80,647.10,756.70,656.30,920.00,478.90,471.50,464.20,446.50,560.00
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,...,684.40,628.40,740.40,680.50,940.00,482.20,469.80,481.10,454.70,560.00

In [14]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).quantile(.25).reset_index()
df[['ch_q1', 'lc_q1', 'mt_q1','cn_q1','pt_q1']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,...,ch_median,lc_median,mt_median,cn_median,pt_median,ch_q1,lc_q1,mt_q1,cn_q1,pt_q1
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,...,492.20,482.35,481.00,450.00,560.00,449.62,429.60,408.90,418.20,460.00
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,...,501.00,504.40,498.70,463.90,580.00,464.20,445.85,434.60,427.10,500.00
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,...,496.15,487.25,477.60,457.80,580.00,441.82,430.62,420.30,425.20,500.00
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,...,512.90,496.40,493.10,472.50,560.00,446.70,435.70,423.35,432.68,460.00
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,...,493.50,480.10,479.60,454.80,560.00,445.90,426.85,432.70,423.30,480.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,...,489.90,474.70,459.60,460.50,590.00,439.02,416.00,410.40,416.10,520.00
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,...,479.20,459.90,463.90,444.70,560.00,432.25,406.30,405.65,413.65,440.00
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,...,484.20,467.40,472.70,458.40,580.00,442.40,418.80,416.20,421.80,460.00
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,...,478.90,471.50,464.20,446.50,560.00,437.10,420.60,416.80,412.90,480.00
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,...,482.20,469.80,481.10,454.70,560.00,439.27,424.52,430.70,429.00,480.00

In [15]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).quantile(.50).reset_index()
df[['ch_q2', 'lc_q2', 'mt_q2','cn_q2','pt_q2']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,...,ch_q1,lc_q1,mt_q1,cn_q1,pt_q1,ch_q2,lc_q2,mt_q2,cn_q2,pt_q2
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,...,449.62,429.60,408.90,418.20,460.00,492.20,482.35,481.00,450.00,560.00
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,...,464.20,445.85,434.60,427.10,500.00,501.00,504.40,498.70,463.90,580.00
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,...,441.82,430.62,420.30,425.20,500.00,496.15,487.25,477.60,457.80,580.00
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,...,446.70,435.70,423.35,432.68,460.00,512.90,496.40,493.10,472.50,560.00
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,...,445.90,426.85,432.70,423.30,480.00,493.50,480.10,479.60,454.80,560.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,...,439.02,416.00,410.40,416.10,520.00,489.90,474.70,459.60,460.50,590.00
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,...,432.25,406.30,405.65,413.65,440.00,479.20,459.90,463.90,444.70,560.00
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,...,442.40,418.80,416.20,421.80,460.00,484.20,467.40,472.70,458.40,580.00
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,...,437.10,420.60,416.80,412.90,480.00,478.90,471.50,464.20,446.50,560.00
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,...,439.27,424.52,430.70,429.00,480.00,482.20,469.80,481.10,454.70,560.00

In [16]:
dfaux = uDados[['SG_UF_PROVA','NO_MUNICIPIO_PROVA','NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']].groupby(['SG_UF_PROVA','NO_MUNICIPIO_PROVA']).quantile(.75).reset_index()
df[['ch_q3', 'lc_q3', 'mt_q3','cn_q3','pt_q3']] = dfaux[['NU_NOTA_CH','NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_CN', 'NU_NOTA_REDACAO']]
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,...,ch_q2,lc_q2,mt_q2,cn_q2,pt_q2,ch_q3,lc_q3,mt_q3,cn_q3,pt_q3
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,...,492.20,482.35,481.00,450.00,560.00,540.15,528.27,555.60,493.70,625.00
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,...,501.00,504.40,498.70,463.90,580.00,546.60,552.25,573.35,510.75,660.00
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,...,496.15,487.25,477.60,457.80,580.00,541.58,537.90,549.30,501.50,680.00
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,...,512.90,496.40,493.10,472.50,560.00,551.60,545.60,553.48,520.25,660.00
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,...,493.50,480.10,479.60,454.80,560.00,536.12,523.25,547.60,495.90,660.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,...,489.90,474.70,459.60,460.50,590.00,531.52,521.48,545.80,493.50,700.00
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,...,479.20,459.90,463.90,444.70,560.00,520.85,512.85,533.90,485.05,610.00
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,...,484.20,467.40,472.70,458.40,580.00,532.70,522.80,543.50,497.70,720.00
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,...,478.90,471.50,464.20,446.50,560.00,521.30,517.90,521.30,479.90,640.00
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,...,482.20,469.80,481.10,454.70,560.00,528.70,525.70,553.50,500.10,660.00

In [17]:
df['ano'] = ano

In [18]:
df

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,...,lc_q2,mt_q2,cn_q2,pt_q2,ch_q3,lc_q3,mt_q3,cn_q3,pt_q3,ano
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,...,482.35,481.00,450.00,560.00,540.15,528.27,555.60,493.70,625.00,2022
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,...,504.40,498.70,463.90,580.00,546.60,552.25,573.35,510.75,660.00,2022
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,...,487.25,477.60,457.80,580.00,541.58,537.90,549.30,501.50,680.00,2022
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,...,496.40,493.10,472.50,560.00,551.60,545.60,553.48,520.25,660.00,2022
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,...,480.10,479.60,454.80,560.00,536.12,523.25,547.60,495.90,660.00,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,...,474.70,459.60,460.50,590.00,531.52,521.48,545.80,493.50,700.00,2022
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,...,459.90,463.90,444.70,560.00,520.85,512.85,533.90,485.05,610.00,2022
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,...,467.40,472.70,458.40,580.00,532.70,522.80,543.50,497.70,720.00,2022
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,...,471.50,464.20,446.50,560.00,521.30,517.90,521.30,479.90,640.00,2022
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,...,469.80,481.10,454.70,560.00,528.70,525.70,553.50,500.10,660.00,2022

In [19]:
df.to_csv('./dados/notas_{}.csv'.format(ano), sep=';', encoding='ISO-8859-1', index=False)

In [20]:
notas = pd.read_csv("./dados/notas_{}.csv".format(ano), sep=';', encoding='ISO-8859-1')
notas

,uf,cidade,qtd,ch_mean,lc_mean,mt_mean,cn_mean,pt_mean,ch_std,lc_std,...,lc_q2,mt_q2,cn_q2,pt_q2,ch_q3,lc_q3,mt_q3,cn_q3,pt_q3,ano
0,AC,Acrelândia,314,492.22,480.81,489.12,458.38,519.29,69.25,67.65,...,482.35,481.00,450.00,560.00,540.15,528.27,555.60,493.70,625.00,2022
1,AC,Brasiléia,407,501.89,496.18,507.50,471.88,551.37,68.59,72.11,...,504.40,498.70,463.90,580.00,546.60,552.25,573.35,510.75,660.00,2022
2,AC,Cruzeiro do Sul,3426,490.70,482.01,490.07,467.20,563.54,77.37,75.83,...,487.25,477.60,457.80,580.00,541.58,537.90,549.30,501.50,680.00,2022
3,AC,Epitaciolândia,249,494.79,488.95,495.68,476.91,536.69,92.93,74.81,...,496.40,493.10,472.50,560.00,551.60,545.60,553.48,520.25,660.00,2022
4,AC,Feijó,422,487.66,478.13,493.30,462.35,542.17,69.06,70.33,...,480.10,479.60,454.80,560.00,536.12,523.25,547.60,495.90,660.00,2022
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1742,TO,Sítio Novo do Tocantins,344,487.36,471.57,485.84,463.59,587.20,70.80,71.39,...,474.70,459.60,460.50,590.00,531.52,521.48,545.80,493.50,700.00,2022
1743,TO,Taguatinga,321,474.72,459.46,475.12,452.83,495.79,66.43,74.31,...,459.90,463.90,444.70,560.00,520.85,512.85,533.90,485.05,610.00,2022
1744,TO,Tocantinópolis,804,482.44,468.58,487.82,466.02,568.12,71.63,74.61,...,467.40,472.70,458.40,580.00,532.70,522.80,543.50,497.70,720.00,2022
1745,TO,Wanderlândia,239,477.52,468.93,475.45,450.60,542.60,73.58,72.74,...,471.50,464.20,446.50,560.00,521.30,517.90,521.30,479.90,640.00,2022
1746,TO,Xambioá,188,486.68,473.84,495.68,464.78,550.61,67.87,71.37,...,469.80,481.10,454.70,560.00,528.70,525.70,553.50,500.10,660.00,2022