# UniVESP - Análise de dados do ENEM

In [2]:
import pandas as pd
import io

In [6]:
# dds = io.open('microdados/enem2021/DADOS/MICRODADOS_ENEM_2021.csv', encoding='latin-1')
# dds
# dados = pd.read_csv(dds)
dados = pd.read_csv('microdados/enem2021/DADOS/MICRODADOS_ENEM_2021.csv', encoding = "ISO-8859-1", sep=';', nrows=1000)
dados.head()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B

In [7]:
dados['NO_MUNICIPIO_ESC']

0                 NaN
1                 NaN
2                 NaN
3               Crato
4            Redenção
            ...
995               NaN
996            Cuiabá
997            Boquim
998    Rio de Janeiro
999    Nazaré da Mata
Name: NO_MUNICIPIO_ESC, Length: 1000, dtype: object